body{
    width: 60%;
    margin: auto;
    background-color: #F7C5CC;
    font-family: 'Cormorant', serif;
}

.container{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

a:visited{
    color: #ffffff;
    text-decoration: none;
}

footer a {
    text-decoration: none;
  }

  footer a:hover {
    text-decoration: none;
    color: #f4f1f1;
  }

h1{
    background-color: #CC313D;
    color: #ffffff;
    font-size: 60px;
    text-align: center;
    font: bold;
}

p{
    color: #CC313D;
    font-size: 25px;
    text-align: center;
}


img{
    padding: 50px;
}
